@media only screen and (min-width:200px) and (max-width:575px){
    .btn-outer{
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: white;
        left: 0px;
        justify-content: center !important;
        padding: 5px 0px;
    }

    .whatsappbtn , .call{
        padding: 7px 15px;
        font-size: 14px;
    }

    .bannerContent h1{
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    }

    .bannerContent br{
        display: none;
    }

    .bannerContent p , .bannerContent ul li{
        font-size: 16px;
    }

    .bannerContentBtn {
        flex-direction: column;
    }

    .bannerContentBtn button{
        width: 100%;
    }

    .bannerForm {
    padding: 20px;
}

    .count-section{
    background-color: white;
    padding: 0px 40px;
}
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px;
    }
}